.th{
    border: 1 px solid black;
    
}
body{
    background-color: aqua;
}

th{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}
.orange{
    background-color: orange;
}
.darkblue{
    background-color: blue;
}
.green{
    background-color: green;
}
.border1{
    width: 420px;
    height: 220px;
}
.size{
 font-size: 30px;

}